/*
! tailwindcss v3.1.8 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

#root .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root .pointer-events-none {
  pointer-events: none;
}

#root .visible {
  visibility: visible;
}

#root .fixed {
  position: fixed;
}

#root .absolute {
  position: absolute;
}

#root .relative {
  position: relative;
}

#root .inset-y-0 {
  top: 0px;
  bottom: 0px;
}

#root .top-0 {
  top: 0px;
}

#root .top-16 {
  top: 4rem;
}

#root .-left-4 {
  left: -1rem;
}

#root .left-0 {
  left: 0px;
}

#root .right-2\.5 {
  right: 0.625rem;
}

#root .bottom-2\.5 {
  bottom: 0.625rem;
}

#root .right-2 {
  right: 0.5rem;
}

#root .bottom-2 {
  bottom: 0.5rem;
}

#root .left-\[100px\] {
  left: 100px;
}

#root .top-\[100px\] {
  top: 100px;
}

#root .top-2 {
  top: 0.5rem;
}

#root .left-2 {
  left: 0.5rem;
}

#root .z-50 {
  z-index: 50;
}

#root .m-4 {
  margin: 1rem;
}

#root .-m-8 {
  margin: -2rem;
}

#root .my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#root .my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#root .my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}

#root .mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#root .mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

#root .my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#root .mx-auto {
  margin-left: auto;
  margin-right: auto;
}

#root .ml-5 {
  margin-left: 1.25rem;
}

#root .mt-8 {
  margin-top: 2rem;
}

#root .ml-4 {
  margin-left: 1rem;
}

#root .ml-24 {
  margin-left: 6rem;
}

#root .mr-8 {
  margin-right: 2rem;
}

#root .ml-12 {
  margin-left: 3rem;
}

#root .mr-\[10px\] {
  margin-right: 10px;
}

#root .-ml-\[4px\] {
  margin-left: -4px;
}

#root .ml-\[2px\] {
  margin-left: 2px;
}

#root .mr-4 {
  margin-right: 1rem;
}

#root .mt-2 {
  margin-top: 0.5rem;
}

#root .mb-8 {
  margin-bottom: 2rem;
}

#root .mb-2 {
  margin-bottom: 0.5rem;
}

#root .mt-4 {
  margin-top: 1rem;
}

#root .mb-4 {
  margin-bottom: 1rem;
}

#root .mr-2 {
  margin-right: 0.5rem;
}

#root .mb-10 {
  margin-bottom: 2.5rem;
}

#root .ml-auto {
  margin-left: auto;
}

#root .mt-10 {
  margin-top: 2.5rem;
}

#root .ml-2 {
  margin-left: 0.5rem;
}

#root .ml-8 {
  margin-left: 2rem;
}

#root .mt-\[80px\] {
  margin-top: 80px;
}

#root .ml-1 {
  margin-left: 0.25rem;
}

#root .mb-16 {
  margin-bottom: 4rem;
}

#root .mb-\[4px\] {
  margin-bottom: 4px;
}

#root .mb-24 {
  margin-bottom: 6rem;
}

#root .mb-12 {
  margin-bottom: 3rem;
}

#root .mt-6 {
  margin-top: 1.5rem;
}

#root .mr-\[24px\] {
  margin-right: 24px;
}

#root .block {
  display: block;
}

#root .flex {
  display: flex;
}

#root .grid {
  display: grid;
}

#root .hidden {
  display: none;
}

#root .h-\[20px\] {
  height: 20px;
}

#root .h-2 {
  height: 0.5rem;
}

#root .h-\[50px\] {
  height: 50px;
}

#root .h-\[60px\] {
  height: 60px;
}

#root .h-5 {
  height: 1.25rem;
}

#root .h-\[40px\] {
  height: 40px;
}

#root .h-\[70px\] {
  height: 70px;
}

#root .h-screen {
  height: 100vh;
}

#root .h-\[56px\] {
  height: 56px;
}

#root .h-\[180px\] {
  height: 180px;
}

#root .h-\[5px\] {
  height: 5px;
}

#root .max-h-\[650px\] {
  max-height: 650px;
}

#root .min-h-\[300px\] {
  min-height: 300px;
}

#root .min-h-\[600px\] {
  min-height: 600px;
}

#root .w-\[300px\] {
  width: 300px;
}

#root .w-\[260px\] {
  width: 260px;
}

#root .w-40 {
  width: 10rem;
}

#root .w-\[20px\] {
  width: 20px;
}

#root .w-full {
  width: 100%;
}

#root .w-3\/4 {
  width: 75%;
}

#root .w-1\/4 {
  width: 25%;
}

#root .w-2\/4 {
  width: 50%;
}

#root .w-\[50px\] {
  width: 50px;
}

#root .w-5 {
  width: 1.25rem;
}

#root .w-\[40px\] {
  width: 40px;
}

#root .w-screen {
  width: 100vw;
}

#root .w-\[440px\] {
  width: 440px;
}

#root .min-w-\[140px\] {
  min-width: 140px;
}

#root .min-w-\[120px\] {
  min-width: 120px;
}

#root .max-w-\[400px\] {
  max-width: 400px;
}

#root .max-w-\[1600px\] {
  max-width: 1600px;
}

#root .max-w-\[1300px\] {
  max-width: 1300px;
}

#root .max-w-\[600px\] {
  max-width: 600px;
}

#root .flex-1 {
  flex: 1 1 0%;
}

#root .basis-4\/6 {
  flex-basis: 66.666667%;
}

#root .basis-2\/6 {
  flex-basis: 33.333333%;
}

#root .cursor-pointer {
  cursor: pointer;
}

#root .grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

#root .grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

#root .flex-row {
  flex-direction: row;
}

#root .flex-col {
  flex-direction: column;
}

#root .flex-wrap {
  flex-wrap: wrap;
}

#root .items-start {
  align-items: flex-start;
}

#root .items-center {
  align-items: center;
}

#root .justify-end {
  justify-content: flex-end;
}

#root .justify-center {
  justify-content: center;
}

#root .gap-4 {
  gap: 1rem;
}

#root .gap-10 {
  gap: 2.5rem;
}

#root .space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

#root .space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

#root .divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

#root .overflow-y-auto {
  overflow-y: auto;
}

#root .truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#root .rounded-md {
  border-radius: 0.375rem;
}

#root .rounded-sm {
  border-radius: 0.125rem;
}

#root .rounded-lg {
  border-radius: 0.5rem;
}

#root .rounded {
  border-radius: 0.25rem;
}

#root .rounded-xl {
  border-radius: 0.75rem;
}

#root .rounded-full {
  border-radius: 9999px;
}

#root .rounded-3xl {
  border-radius: 1.5rem;
}

#root .border-\[1px\] {
  border-width: 1px;
}

#root .border-2 {
  border-width: 2px;
}

#root .border {
  border-width: 1px;
}

#root .border-l-\[1px\] {
  border-left-width: 1px;
}

#root .border-r-\[1px\] {
  border-right-width: 1px;
}

#root .border-b-\[1px\] {
  border-bottom-width: 1px;
}

#root .border-t-2 {
  border-top-width: 2px;
}

#root .border-t-\[1px\] {
  border-top-width: 1px;
}

#root .border-t-0 {
  border-top-width: 0px;
}

#root .border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

#root .border-slate-700 {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
}

#root .border-slate-400 {
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity));
}

#root .border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

#root .border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

#root .border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

#root .bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

#root .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

#root .bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#root .bg-stone-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(214 211 209 / var(--tw-bg-opacity));
}

#root .bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}

#root .bg-indigo-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}

#root .bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

#root .bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

#root .bg-slate-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

#root .bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

#root .bg-violet-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(124 58 237 / var(--tw-bg-opacity));
}

#root .bg-violet-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(109 40 217 / var(--tw-bg-opacity));
}

#root .bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

#root .bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

#root .bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

#root .from-indigo-600 {
  --tw-gradient-from: #4f46e5;
  --tw-gradient-to: rgb(79 70 229 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

#root .to-blue-400 {
  --tw-gradient-to: #60a5fa;
}

#root .object-scale-down {
  object-fit: scale-down;
}

#root .p-2 {
  padding: 0.5rem;
}

#root .p-4 {
  padding: 1rem;
}

#root .p-0 {
  padding: 0px;
}

#root .p-8 {
  padding: 2rem;
}

#root .p-6 {
  padding: 1.5rem;
}

#root .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

#root .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#root .py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

#root .py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#root .py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#root .py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#root .px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#root .py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}

#root .px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

#root .px-40 {
  padding-left: 10rem;
  padding-right: 10rem;
}

#root .py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#root .px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#root .px-\[48px\] {
  padding-left: 48px;
  padding-right: 48px;
}

#root .pl-3 {
  padding-left: 0.75rem;
}

#root .pl-10 {
  padding-left: 2.5rem;
}

#root .pb-\[48px\] {
  padding-bottom: 48px;
}

#root .pb-4 {
  padding-bottom: 1rem;
}

#root .text-center {
  text-align: center;
}

#root .text-right {
  text-align: right;
}

#root .align-middle {
  vertical-align: middle;
}

#root .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#root .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#root .text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#root .text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

#root .text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

#root .text-9xl {
  font-size: 8rem;
  line-height: 1;
}

#root .text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#root .font-bold {
  font-weight: 700;
}

#root .font-semibold {
  font-weight: 600;
}

#root .font-medium {
  font-weight: 500;
}

#root .normal-case {
  text-transform: none;
}

#root .italic {
  font-style: italic;
}

#root .leading-6 {
  line-height: 1.5rem;
}

#root .text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

#root .text-violet-700 {
  --tw-text-opacity: 1;
  color: rgb(109 40 217 / var(--tw-text-opacity));
}

#root .text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

#root .text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

#root .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#root .text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}

#root .text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

#root .text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

#root .text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

#root .text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

#root .text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

#root .text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity));
}

#root .text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

#root .text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

#root .underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#root .opacity-0 {
  opacity: 0;
}

#root .shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#root .shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#root .filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#root .transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, -webkit-text-decoration-color, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#root .line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ck.ck-content.ck-editor__editable.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-focused {
  min-height: 280px;
  padding: 8px;
}

#root .hover\:block:hover {
  display: block;
}

#root .hover\:border-\[1px\]:hover {
  border-width: 1px;
}

#root .hover\:border-black:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

#root .hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

#root .hover\:bg-slate-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

#root .hover\:bg-gray-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

#root .hover\:bg-indigo-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 48 163 / var(--tw-bg-opacity));
}

#root .hover\:bg-slate-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

#root .hover\:bg-violet-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(109 40 217 / var(--tw-bg-opacity));
}

#root .hover\:bg-violet-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(91 33 182 / var(--tw-bg-opacity));
}

#root .hover\:bg-indigo-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}

#root .hover\:bg-slate-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

#root .hover\:text-indigo-600:hover {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

#root .hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#root .hover\:text-indigo-700:hover {
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}

#root .hover\:opacity-100:hover {
  opacity: 1;
}

#root .hover\:opacity-95:hover {
  opacity: 0.95;
}

#root .focus\:border-blue-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

#root .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#root .focus\:ring-4:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

#root .focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity));
}

#root .focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
}

#root .disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

#root .disabled\:bg-stone-300:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(214 211 209 / var(--tw-bg-opacity));
}

#root .disabled\:text-black:disabled {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

#root .group:hover .group-hover\:block {
  display: block;
}

@media (prefers-color-scheme: dark) {
  #root .dark\:border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
  }

  #root .dark\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  #root .dark\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  }

  #root .dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }

  #root .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  #root .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  #root .dark\:placeholder-gray-400::-webkit-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity));
  }

  #root .dark\:placeholder-gray-400::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity));
  }

  #root .dark\:hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
  }

  #root .dark\:focus\:border-blue-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
  }

  #root .dark\:focus\:ring-blue-800:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(30 64 175 / var(--tw-ring-opacity));
  }

  #root .dark\:focus\:ring-blue-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
  }
}

@media (min-width: 640px) {
  #root .sm\:ml-10 {
    margin-left: 2.5rem;
  }

  #root .sm\:flex-row {
    flex-direction: row;
  }

  #root .sm\:items-center {
    align-items: center;
  }
}

@media (min-width: 768px) {
  #root .md\:w-\[230px\] {
    width: 230px;
  }

  #root .md\:w-\[340px\] {
    width: 340px;
  }

  #root .md\:flex-row {
    flex-direction: row;
  }

  #root .md\:flex-col {
    flex-direction: column;
  }

  #root .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  #root .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}